body {
	margin: 0;
	padding: 0;
	font-family: 'Mada', sans-serif;
	top: 0;
}

.enlace {
	position: absolute;
	padding: 20px 50px;
}

h1 {
	color: #454545;
	font: normal 22px/1.4 mada;
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 15px;
	margin-left: 133px;
	margin-right: 133px;
}

P {
	color: #242424;
	text-align: center;
	font-size: 50px;
	font-family: Georgia;
}

p2 {
	color: #242424;
	text-align: right;
	font: normal 17px/1.4 Mada;
	/* prueba */

}

nav {
	background-color: #07464C;
	margin-right: 10px;
	color: ghostwhite;
	font-size: medium;
	z-index: 2;
	position: fixed;
	width: 100%;
	display: flex;
	height: 80px;
}


nav ul li{
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
	font font-weight: bold;
	display: inline-block;
	padding: 0px 20 px;
	margin: 0 5px;
}

a{
	color: ghostwhite;
	text-decoration: none;
}

nav ul li:hover{
	text-decoration: underline;
	color: ghostwhite;
}

.checkbtn{
	font-size: 30px;
	color: #fff;
	float: right;
	line-height: 80 px;
	margin-right: 40px;
	margin-top: 23px;
	justify-content: space-between;
	cursor: pointer;
	display: none;
}
#checkbox{
	display: none;
}

.col {
	flex: 1;
	margin: rem;
	color: ghostwhite;
}


.home {
	margin-top: 0;
	z-index: 1;
	position: relative;
}

.col ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;

}

.my-button {
	padding: 10px 20px;
	background-color: #07464C;
	color: white;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
}

.inter-texts p {
	color: #454545;
	font-size: 1.5vw;
	margin-left: 6rem;
	margin-right: 6rem;
}

/*Esto no se está usando y lo borré*/

p3 {
	font: 22px;
	text-align: center;
	line-height: 137.6%;
	font: normal 22px/1.4 Mada;
	color: #454545;
}

/*Esto no se está usando*/
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Esto no se está usando*/
#fondo {
	width: 1133px;
	height: 443p
	background-image: url(HomeHeader.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	justify-content: center;
}

/*Esto no se está usando*/
#fondo h3 {
	color: white;
	font: normal 38px/1.4 Georgia;
	font-size: 60px;
}

h2 {
	font: 38px;
	text-align: center;
	color: #07464C;
	font: normal 38px/1.4 Georgia;
}

p4 {
	font: 20px;
	text-align: left;
	color: #454545;
	font: normal 20px/1.4 Mada;
}

.Steps {
	width: 437.61px;
	height: 436.95px;
	margin: 0 5px;
}

.Personalizar {
	background-color: #F6F6F6;
	display: flex;
	padding: 5rem;
	justify-content: center;
	align-items: center;
}

@media (max-width:900px) {
	.Personalizar {
		flex-direction: column;
		align-items: center;
		margin: auto;
	}

	.Steps {
		margin-bottom: 30px;
	}
}

.UnivWrapper {
	max-height: 154px;
	border:1px solid #ghostwhite;
	display: flex;
	align-items: center;
	overflow-x: auto;
}

.UnivWrapper .Iconos {
	min-width: 154px;
	height: 154px;
	line-height: 154px;
	margin-left: 78px;
	margin-right: 50px;
}

.card-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 4px;
	background-color: #F6F6F6;

}

.card{
	width: 445px;
	background-color: #ghostwhite;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin: 20px;
}

.card img{
	width: 445px;
	height: 321px;
}

.card-content{
	padding: 20px;
}

.card-content h3{
	font-size: 33px;
	margin-bottom: 5px;
	font: normal 33px/1.4 Georgia;
}

.card-content .btn{
	display:inline-block;
	padding: 6px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #07464C;
	text-decoration: none;
	border-radius: 100px;
	margin-top: 16px;
	font: normal 20px/1.4 Mada;
	text-align: center;
	margin-right: 2px;
	color: ghostwhite;
}

.Conócenos{
	display:flex ;
	justify-content: center;
	background-color: #07464C;
	font: normal 22px/1.4 Mada;
	color: ghostwhite;
}

.LogoAlu{
	width: 164.42px;
	height: 109.62px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-left: 80px;
}

.card-content-text h4{
	font-size: 33px;
	margin-bottom: 5px;
	font: normal 22px/1.4 Mada;
	color: ghostwhite;
	text-align: left;
}

.card-content-text{
	display:inline-block;
	padding: 6px;
	padding-left: 50px;
	padding-right: 150px;
	background-color: #07464C;
	text-decoration: none;
	border-radius: 100px;
	margin-top: 70px;
	font: normal 20px/1.4 Mada;
	text-align: left;
	margin-right: 10px;
	color: #07464C;
}

.card-content-text .button{
	background-color: ghostwhite;
	text-decoration: none;
	border-radius: 100px;
	margin-top: 16px;
	font: normal 22px/1.4 Mada;
	color: #07464C;
	padding: 7px;
	padding-left: 33px;
	padding-right: 33px;
}

.Card-comment{
	display: flex;
	background-color: #F6F6F5;
	Display: flex;
	justify-content: left;
	margin-top: 4px;
	background-color: #F6F6F6;

}

.Comment{
	width: 319px;
	background-color: #F6F6F5;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin: 20px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 35px;
	padding-bottom: 35px;
	border-radius: 14px;


}

h5{
	font-size: 22px;
	margin-bottom: 5px;
	font: normal 22px/1.4 Mada;
}

.Comment img{
	width: 22.7px;
	height: 17.82px;
	
}

.comment-content h5{
	font-size: 22px;
	margin-bottom: 5px;
	font: normal 22px/1.4 Mada;

}





.li {
	list-style: none;
}

.a {
	text-decoration: none;
	color: white;
}

.a:visited {
	color: white;
}

.over-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.motd p {
	height: fit-content;
	color: white;
	margin-bottom: 1rem;
	font-size: 4vw;
}