*{
	margin:0;
	box-sizing: border-box;
}

.header{
	background-color: #07464C;
	height: 80px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.nav{
	display: flex;
	justify-content: space-between;
	max-width: 992px;
	margin: 0 auto;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.active{
	color: ghostwhite;
	text-decoration: none;
	font: normal 17px Mada;

}

.logo{
	height: 36px;
	margin: 20px;

}

.menu{
	display: flex;
}

.nav-menu{
	display: flex;
	margin-right: 40px;
	list-style: none;
}

.nav-menu-item{
	font-size: 17px;
	margin: 0 25px;
	line-height: 80px;
	width: max-content;
}

.active:hover,
.nav-menu-item_active{
	text-decoration: underline;
}

.nav-toggle{
	color: ghostwhite;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	cursor: pointer;

	display: none;
}

/*Mobile*/

@media (max-width: 768px){

	.nav{
		top:60px;
		align-items: right;
	}
	.header{
		height: 60px;
	}

	.logo{
		height: 36px;
		margin: 13px;
	}

	.nav-menu{
		flex-direction: column;
		align-items: center;
		margin-right: 0;
		background-color: #07464C;
		position:fixed;

		left: 0;
		top:60px;
		padding: 20px 0;

		width: 100%;

		border-bottom-left-radius: 14px;
		border-bottom-right-radius: 14px;


		height: calc(100 - 60px);

		left: 100%;
		transition: left 0,3s;
	}


	.nav-menu-item{
		line-height: 70px;
	}

	.nav-toggle{
		display: block;
	}

	.nav-menu_visible{
		left: 0;

	}

}


